<c8y-title translate>User</c8y-title>
<c8y-action-bar-item [placement]="'right'">
    <button class="btn btn-link" (click)="removeUser()" [disabled]="users.length === 0">
        <i class="fa fa-times"></i> {{ 'Remove user' | translate}}
    </button>
</c8y-action-bar-item>
<!-- <h3>{{test}}</h3> -->
<div *ngIf="users.length === 0">
    {{informationText | translate}}
</div>

<table class="table" *ngIf="users.length > 0">
    <tr>
        <th translate>Name</th>
        <th translate>Gender</th>
        <th translate>Power</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{hero.name | translate}}</td>
        <td>{{user.id}}</td>
        <td>{{hero.isActive | translate}}</td>
    </tr>
</table>
<!-- 
<h3>Add your own Hero : </h3>
<form action="">
    <label for="">Name</label>
    <input type="text">
    <label for="">Superpower</label>
    <input type="text">
    <button class="btn bnt-danger">Add</button>
</form>  -->